---
---

@import "{{ site.theme }}";

.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.page-header-left {
  display: flex;
  position: absolute;
  left: 8px;
}

.page-header-right {
  display: flex;
  position: absolute;
  right: 8px;
}

.page-header-icon {
  display: inline-block;
  margin: 0 4px;
  @include large {
    width: 48px;
    height: 48px;
  }
  @include medium {
    width: 32px;
    height: 32px;
  }
  @include small {
    width: 24px;
    height: 24px;
  }
  > svg {
    width: 100%;
    height: 100%;
    fill: $header-heading-color;
  }
}
