@charset "utf-8";

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* change size of bookmark toolbar items */
#PlacesToolbarItems > .bookmark-item {
  margin: 1px !important;
  padding: 2px !important;
}

/* change margin of bookmark toolbar items icon */
#PlacesToolbarItems > .bookmark-item:not([container="true"]) > .toolbarbutton-icon {
  margin: 0px !important;
}

/* hide bookmark item text */
#PlacesToolbarItems > .bookmark-item:not([container="true"]) > .toolbarbutton-text {
  display: none !important;
}

/* hide drop marker on bookmark item */
#PlacesToolbarItems > .bookmark-item > .toolbarbutton-menu-dropmarker {
    display: none !important;
}
