<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="icon" type="image/svg+xml" sizes="any" href="/assets/images/favicon.svg">
    <link rel="apple-touch-icon" sizes="256x256" href="/assets/images/favicon.png">
    <script type="module" src="/assets/scripts/opensearch.mjs"></script>
    {% if page.mermaid %}
    <script src="https://unpkg.com/mermaid@8.5.0/dist/mermaid.min.js"></script>
    <script type="module" src="/assets/scripts/render-mermaid.mjs"></script>
    {% endif %}
    {% for script in page.scripts %}
    <script type="module" src="/assets/scripts/{{ script }}"></script>
    {% endfor %}
  </head>
  <body>
    <header class="page-header" role="banner">
      <div class="page-header-left">
        <a class="page-header-icon" title="top" href="/"><object src="/assets/images/home.svg"></object></a>
      </div>
      <div class="page-header-center">
        <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      </div>
      <div class="page-header-right">
        <a class="page-header-icon" title="github" href="{{ site.github.repository_url }}"><object src="/assets/images/github.svg"></object></a>
      </div>
    </header>
    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>
  </body>
</html>
