<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="icon" type="image/svg+xml" sizes="any" href="/assets/images/favicon.svg">
    <link rel="apple-touch-icon" sizes="256x256" href="/assets/images/favicon.png">
    <link rel="search" type="application/opensearchdescription+xml" href="/assets/searchplugins/google.xml" title="Google">
    <link rel="search" type="application/opensearchdescription+xml" href="/assets/searchplugins/yahoo.xml" title="Yahoo!検索">
    <link rel="search" type="application/opensearchdescription+xml" href="/assets/searchplugins/bing.xml" title="Bing">
    <link rel="search" type="application/opensearchdescription+xml" href="/assets/searchplugins/duckduckgo.xml" title="DuckDuckGo">
    <link rel="search" type="application/opensearchdescription+xml" href="/assets/searchplugins/twitter.xml" title="Twitter">
    <link rel="search" type="application/opensearchdescription+xml" href="/assets/searchplugins/wikipedia.xml" title="Wikipedia">
    <link rel="search" type="application/opensearchdescription+xml" href="/assets/searchplugins/google-map.xml" title="Google マップ">
    <link rel="search" type="application/opensearchdescription+xml" href="/assets/searchplugins/google-translate.xml" title="Google 翻訳">
    <link rel="search" type="application/opensearchdescription+xml" href="/assets/searchplugins/bing-translator.xml" title="Bing 翻訳">
    <link rel="search" type="application/opensearchdescription+xml" href="/assets/searchplugins/kotobank.xml" title="コトバンク">
    <link rel="search" type="application/opensearchdescription+xml" href="/assets/searchplugins/goo-dictionary.xml" title="goo辞書">
    <link rel="search" type="application/opensearchdescription+xml" href="/assets/searchplugins/eijiro.xml" title="英辞郎 on the WEB">
    <link rel="search" type="application/opensearchdescription+xml" href="/assets/searchplugins/2ch.xml" title="2chスレタイ検索">
    {% if page.mermaid %}
    <script src="https://unpkg.com/mermaid@8.5.0/dist/mermaid.min.js"></script>
    {% endif %}
    {% for script in page.scripts %}
    <script>{% include_relative {{ script }} %}</script>
    {% endfor %}
  </head>
  <body>
    <header class="page-header" role="banner">
      <div class="page-header-left">
        <a class="page-header-icon" title="top" href="/">{% include images/home.svg %}</a>
      </div>
      <div class="page-header-center">
        <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      </div>
      <div class="page-header-right">
        <a class="page-header-icon" title="github" href="{{ site.github.repository_url }}">{% include images/mark-github.svg %}</a>
      </div>
  </header>
    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>
  </body>
</html>
